"*":
  "exception-reporting":
    userId: "33a13f12-13f0-427a-f1e8-73f92d8bb3a2"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
  "merge-conflicts": {}
  editor:
    invisibles: {}
    softWrapAtPreferredLineLength: true
    showIndentGuide: true
    fontSize: 15
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
